<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Welcome in Spring Boot!</title>
</head>
<body>
	<h1>Welcome to Device Management System!</h1>
	<!-- <a style="color: blue" th:href="@{/}">Home</a> -->
	<button th:onclick="'window.location.href=\'/devicemanagement/device/add\''">
        Add Device
    </button>
    <button th:onclick="'window.location.href=\'/devicemanagement/user/add\''">
        Add User
    </button>
</body>
</html>